.saved-note {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}
.saved-note-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.saved-note-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #0d0d0d;
}
.saved-note-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.saved-note-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
